*.gem
*.sqlite3
*.sqlite3-journal
*~
.DS_Store
.bundle
.byebug_history
.env
.idea
.pry_history
.pryrc
.rake_tasks
.rbenv-gemsets
.rbenv-version
.rspec_results
.ruby-gemset
.ruby-version
.rvmrc
.secret.*
.tool-versions
.vscode/
/.yardoc
/_yardoc/
Gemfile.lock
NOTES
coverage/*
doc/
log
node_modules/
passenger.*
pkg
rdoc/*
spec/internal/rails_app/config/database.yml
spec/internal/rails_app/db/*.sqlite3
spec/internal/rails_app/*.sqlite3
spec/internal/rails_app/db/schema.rb
spec/internal/rails_app/log/*
spec/internal/rails_app/tmp/*
tmp/
yarn-error.log